<template name="darkHeader">

    <nav class="defaultHeader minimized dark">
        <div class="container relative">
            <!-- BEGIN LEFT CONTENT -->
            <div class="pull-left">
                <!-- .defaultHeader-inner Allows to horizontally Align elements to the Center-->
                <div class="defaultHeader-inner">
                    <!-- BEGIN LOGO -->
                    <a href="/">
                        <img src="images/logo_light.png" alt="Logo" style="height: 50px;"/>
                    </a>
                </div>
            </div>

            {{>menu}}
        </div>
    </nav>

</template>
