<template name="menu">
    <!-- BEGIN defaultHeader TOGGLE FOR MOBILE & TABLET -->
    <div class="pull-right">
        <div class="defaultHeader-inner">
            <div class="visible-sm-inline visible-xs-inline menu-toggler pull-right p-l-10" data-pages="defaultHeader-toggle" data-pages-element="#defaultHeader">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
        </div>
    </div>
    <!-- END defaultHeader TOGGLE FOR MOBILE & TABLET -->

    <!-- BEGIN RIGHT CONTENT -->
    <div class="menu-content mobile-dark pull-right clearfix" data-pages-direction="slideRight" id="defaultHeader">
        <!-- BEGIN defaultHeader CLOSE TOGGLE FOR MOBILE -->
        <div class="pull-right">
            <a href="#" class="padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10" data-pages="defaultHeader-toggle" data-pages-element="#defaultHeader">
                <i class="pg-close_line"></i>
            </a>
        </div>
        <!-- END defaultHeader CLOSE TOGGLE FOR MOBILE -->
        <!-- BEGIN MENU ITEMS -->
        <div class="defaultHeader-inner">
            <ul class="menu">
                <li>
                    <a href="/">Home
                    </a>
                </li>
                <li>
                    <a href="/basket">Book
                    </a>
                </li>
                <li>
                    <a href="/questions">Questions
                    </a>
                </li>
                <li>
                    <a href="/login">Sign In
                    </a>
                </li>
            </ul>
            <!-- BEGIN COPYRIGHT FOR MOBILE -->
            <div class="font-arial m-l-35 m-r-35 m-b-20 bottom-left visible-sm visible-xs">
                <p class="fs-11 no-margin small-text p-b-20">Exclusive only at ,Themeforest. See Standard licenses & Extended licenses
                </p>
                <p class="fs-11 small-text muted">Copyright &copy; 2014 DC Ventures</p>
            </div>
            <!-- END COPYRIGHT FOR MOBILE -->
        </div>
        <!-- END MENU ITEMS -->
    </div>
</template>
