<template name="BasketPrice">
    <div class="container-sm-height">
        <div class="row row-sm-height">
            <div class="col-sm-8 col-sm-height col-middle p-l-10 sm-padding-15">
                <h5 class="font-montserrat all-caps small no-margin hint-text bold">Discount (10%)</h5>
                <p class="no-margin">$10</p>
            </div>
            <div class="col-sm-4 text-right bg-primary col-sm-height col-middle padding-10">
                <h5 class="font-montserrat all-caps small no-margin hint-text text-white bold">Total</h5>
                <h4 class="no-margin text-white">$44</h4>
            </div>
        </div>
    </div>
</template>
