<template name="FormLineItems">

    <div class="form-group">


    <div class="row">
        <div class="col-xs-3">
            <label for="bedrooms" class="control-label">Bedrooms</label>
        </div>
        <div class="col-xs-9">
            <div class="btn-group">
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-default">2</button>
                <button type="button" class="btn btn-default">3</button>
                <button type="button" class="btn btn-default">4</button>
                <button type="button" class="btn btn-default">5</button>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-3">
            <label for="bathrooms" class="control-label">Bathrooms</label>
        </div>
        <div class="col-xs-9">
            <div class="btn-group">
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-default">2</button>
                <button type="button" class="btn btn-default">3</button>
                <button type="button" class="btn btn-default">4</button>
                <button type="button" class="btn btn-default">5</button>
            </div>
        </div>
    </div>
<br>

    <!-- BEGIN ADDITIONAL -->
    <div class="row">
      <div class="col-xs-3">
        <label class="control-label">Other</label>
      </div>
      <div class="col-xs-9">
        <div class="checkbox check-success checkbox-circle">
            <input type="checkbox" id="ironingCheckbox">
            <label for="ironingCheckbox">Ironing</label>
        </div>
        <div class="checkbox check-success checkbox-circle">
            <input type="checkbox" id="windowsCheckbox">
            <label for="windowsCheckbox">Windows</label>
        </div>
      </div>
    </div>
</div>
</template>
