<template name="FormAddress">

    <form role="form">
        <div class="padding-30 m-t-50 font-montserrat all-caps small no-margin hint-text bold">
            <p>Account Details</p>
            <div class="form-group-attached">
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group form-group-default required">
                            <label>Email</label>
                            <input type="email" class="form-control" required="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-default required">
                            <label>Telephone</label>
                            <input type="text" class="form-control" required="">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <p>Your Address</p>
            <div class="form-group-attached">
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group form-group-default required">
                            <label>First Name</label>
                            <input type="text" class="form-control" required="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-default required">
                            <label>Last Name</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group form-group-default required">
                    <label>Address</label>
                    <input type="text" class="form-control" required="">
                </div>

                <div class="row clearfix">
                    <div class="col-sm-3">
                        <div class="form-group form-group-default">
                            <label>House</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default">
                            <label>Housing</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default">
                            <label>Building</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default">
                            <label>Apartment</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="form-group form-group-default required">
                <label>Notes</label>
                <textarea class="form-control font-montserrat" placeholder="i.e. Call when downstairs."></textarea>
            </div>
        </div>
    </form>
</template>
