<template name="HomeLayout">
    <section class="full-height" data-pages-bg-image="images/hero_1.jpg" data-bg-overlay="black" data-overlay-opacity="0.0" data-pages="parallax" style="background-position: center;">
        <div class="inner full-height">
            <div class="container-xs-height full-vh">
                <div class="col-xs-height col-middle text-left">
                    <div class="container p-t-70 p-b-70">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 text-center">
                                <h2 class="light">Book a
                                    <b>professional</b>
                                    &
                                    <b>reliable</b>
                                    cleaner in Moscow.
                                </h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4>
                                            <i class="fa fa-star-o"></i>
                                            Customer Rated</h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <h4>
                                            <i class="fa fa-check"></i>
                                            Identity Verified</h4>
                                    </div>
                                    <div class="col-sm-6">

                                        <h4>
                                            <i class="pg-credit_card"></i>
                                            Secure Payments</h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <h4>
                                            <i class="pg-comment"></i>
                                            English Speaking</h4>
                                    </div>
                                </div>
                                <br>
                                <a href="/basket" class="btn btn-lg btn-success btn-block">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{> Subscribe}}
</template>
